* {
  margin: 0 0 0 0;
}
body {
  background: white;
}
.overlock-regular {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cormorant-infant-regular {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: normal;
}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

#head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
#head > Button {
  width: 10px;
  color: black;
  text-decoration: none;
  margin: 25px;
}
#head a > img,
.rounded-circle {
  width: 6%;
  box-shadow: none;
  border-radius: 0;
  margin: 25px;
}
.rounded-circle {
  width: 10%;
}
#head > h1 {
  text-align: center;
  box-shadow: none;
  margin: 25px;
  font-size: 48px;
}
#header-right {
  text-align: right;
}
#img-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 0;
  position: relative;
}
img {
  width: 100%;
  border-radius: 20px;
  border-color: deeppink;
  border-width: 5px;
  box-shadow: 0 4px 8px black;
  margin-inline: 10px;
}
#search-bkg {
  background-image: linear-gradient(
    to right,
    #ff0a54,
    #ff477e,
    #ff5c8a,
    #ff7096,
    #ff85a1,
    #ff99ac,
    #fbb1bd,
    #f9bec7,
    #f7cad0,
    #fae0e4
  );
  filter: contrast(1);
}

#search-bkg > img {
  height: 75px;
  filter: opacity(0);
  position: relative;
}
#search,
#nav-list {
  margin-bottom: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 120px;
}

#nav-list > Button {
  color: black;
  text-decoration: none;
}
#search > input {
  border-radius: 20px;
  box-shadow: 0 4px 8px black;
  border: none;
  position: absolute;
  margin-bottom: 80px;
}
#search > Button {
  color: black;
  margin-left: 150px;
  margin-bottom: 75px;
  position: absolute;
  background-color: transparent;
  border: none;
}
#search input > ::placeholder {
  text-align: center;
}

#btnReactions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 4%;
  z-index: 1;
  margin-left: 165px;
}

#love,
#download,
#thumb-up {
  box-shadow: none;
}
#thumb-up > {
  width: 10px;
}
